.DS_Store
node_modules
/dist
/script/.cache

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/src/model/contractModel.js
/tests/unit/code-gen/contract-add-or-update.vue
/tests/unit/code-gen/contract-list.vue
/tests/unit/code-gen/contractModel.js
